<!DOCTYPE html>
<html lang="en">

<head>

	<title>Internet网络通路管理</title>

	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Style Sheets -->
	<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/trunk.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
	<!-- Scripts -->
	<script type="text/javascript">
		if (typeof jQuery == 'undefined')
			document.write(unescape("%3Cscript src='js/jquery-1.9.js'" +
				"type='text/javascript'%3E%3C/script%3E"))
	</script>
	<script type="text/javascript" language="javascript" src="js/trunk.js"></script>
	<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->


</head>

<body>

	<div class="container">

		<header class="slide">
			<!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
			<ul id="navToggle" class="burger slide">
				<!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<div class="logopng">
				<img src="../img/logo-trans-small.png" />
			</div>
		</header>

		<nav class="slide">
			<ul>
				<li>
					<a href="/" class="active">主页</a>
				</li>
				<li>
					<a href="/NodeProcess">新增网点</a>
				</li>
				<li>
					<a href="/NodeProcess">删除网点</a>
				</li>
				<li>
					<a href="/NodeProcess">显示网点</a>
				</li>
				<li>
					<a href="/LinkProcess">建立连接</a>
				</li>
				<li>
					<a href="/LinkProcess">删除连接</a>
				</li>
				<li>
					<a href="/Warshall">检测可达性|Warshall</a>
				</li>
				<li>
					<a href="/Floyd">网点最短路|Floyd</a>
				</li>
			</ul>
		</nav>

		<div class="content slide">
			<!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
			<ul class="responsive">
				<li class="header-section">

				</li>

				<li class="body-section">
					<div class="left-content">

						<form id="register" action="http://javascriptbook.com/code/c08/register.php" method="post">

							<input type="submit" value="添加新节点" />
						</form>

						<form id="register" action="http://javascriptbook.com/code/c08/register.php" method="post">

							<input type="submit" value="删除网络节点" />
						</form>
						<form id="register" action="http://javascriptbook.com/code/c08/register.php" method="post">

							<input type="submit" value="显示网络节点" />
						</form>


					</div>



					<!--


				-->




					<p class="placefiller-small">&nbsp</p>
					<p class="placefiller-small">&nbsp</p>
				</li>

				<li class="footer-section">
					<div class="footer-text">
						@2017 DEXION
					</div>
				</li>
			</ul>
		</div>

	</div>
	<script src="../js/anime.min.js"></script>
	<script src="../js/lineDrawing.js"></script>
</body>

</html>